*{
    margin: 0px;
    padding: 0px;
}

#map-total-size {
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 1000px;
}

.map-head {
    display: block;
    justify-content: center;
    align-items: center;
    height: 50px; 
    
    background-color: rgba(30, 144, 255, 1);
}

.map-data{
    width: 100%;
    height: 100vh;
}

.map-title { 
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
    text-decoration-line: underline;
    text-decoration-style: double;
    
    color: rgba(233, 233, 233, 1);
}

.map-small-box {
    display: flex;
    justify-content: space-between;
}

.sub-title {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;

    position: relative;
    top: -35px;
    left: 5px;

    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 175%;
    
    color: rgba(113, 113, 113, 1);
}

.map-search {
    background-image: url("../resource/image/KakaoTalk_20240326_131217082.jpg");
    background-size: cover;
    width: 500px;
    height: 500px;
}

.map-table{
    background-image: url("../resource/image/KakaoTalk_20240401_183148140.png");
    background-size:contain;
    width: 900px;
    height: 300px;
    background-repeat:no-repeat;
}

.map-search-table{
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:200px;
}